@import "tailwindcss";

@theme {
  --background-gradient: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(56, 2, 6, 1) 75%, rgba(56, 2, 6, 1) 100%);
  --foreground: #FFFFFF;
  --color-primary: #380206;
  --color-secondary: #F79A20;
  --color-accent: #1A0101;
}

* {
  box-sizing: border-box;
}

/* 
  Loader Animation
  ▱▰▱▰▱▰▱▰▱▰▱▰▱▰
  ▰▱▰▰▱▰▰▱▰▰▱▰▰▱
  ▱▰▱▰▱▰▱▰▱▰▱▰▱▰
  ▰▱▰▰▱▰▰▱▰▰▱▰▰▱
  ▱▰▱▰▱▰▱▰▱▰▱▰▱▰
  ▰▱▰▰▱▰▰▱▰▰▱▰▰▱
  ▱▰▱▰▱▰▱▰▱▰▱▰▱▰
  ▰▱▰▰▱▰▰▱▰▰▱▰▰▱

*/

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 50%;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px, var(--color-secondary) 90deg, #0000 0);
  background:
    var(--g),
    var(--g) 10px 10px,
    var(--g) 20px 20px;
  background-size: 2% 2%;
  animation: load 1s infinite;

}

@keyframes load {

  90%,
  100% {
    background-position: -30px 30px, -20px 40px, -10px 50px
  }
}


body {
  background: #000000;
  background: var(--background-gradient);
  color: var(--foreground);
  font-family: 'Cinzel', serif;
}

main {
  @apply pt-10;
}

section {
  @apply py-10;
}

button {
  @apply hover:cursor-pointer;
}

/* Start Buttons */
.btn {
  width: 100%;
}

/* End Buttons */

.bg-img {
  background-size: 100px;
  filter: drop-shadow(2px 2px 100px #000000);
}

.hero-img {
  filter: brightness(.1);
  animation: hero 5s 1s infinite alternate-reverse;
}

@keyframes hero {
  0% {
    filter: brightness(0.2);
  }

  25% {
    filter: brightness(0.5);
  }

  50% {
    filter: brightness(0.85);
  }

  75% {
    filter: brightness(0.55);
  }

  100% {
    filter: brightness(0.2);
  }
}