.card {
    transition: ease-in-out .5s;
}

.card img {
    transform: scale(1);
    transition: ease-in-out .5s;
}


.card:hover img {
    transform: scale(1.05);
    transition: ease-in-out .5s;
}